<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <style>
      .link {
        transform: translateX(-0.75em);
        transition: transform 200ms;
      }

      .link::before {
        content: "#";
        display: inline-block;
        width: 0.75em;

        color: #888888;
        opacity: 0;
        transition: opacity 200ms;
      }

      .link:hover {
        transform: none;
      }

      .link:hover::before {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div
      style="
        margin: auto;
        background-color: #ffffff;
        width: 500px;
        padding: 10px;
        /* border-top: 2px solid #e37c41; */
      "
    >
      <div class="adM"></div>
      <!-- Logo -->
      <img height="40px" alt="" src="<%= logo_url %>">
      <p>Kính gửi <%= candidate_name %>,</p>
      <p>Chúng tôi xin thông báo rằng hồ sơ của bạn được chọn và chúng tôi muốn mời bạn tham gia  phỏng vấn:</p>
      <p>Công ty: <%= enterprise_name %></p>
      <p>Vị trí: <%= position %></p>
      <p>Thời gian: <%= time %></p>
      <p>Địa điểm: <%= address %></p>
      <p>Bạn vui lòng xác nhận tham gia phỏng vấn ngay khi nhận được thông báo này.</p>
      <p>Nếu bạn không thể tham gia cuộc phỏng vấn vào thời gian đã được lên lịch, xin vui lòng thông báo cho chúng tôi sớm để chúng tôi có thể sắp xếp lại lịch hẹn phù hợp.</p>
      <p>Nếu có bất kỳ câu hỏi hoặc cần sự trợ giúp vui lòng liên hệ với chúng tôi qua số điện thoại: 0981549988</p>
      <hr style="border-top: 1px solid;" />
      <div style="font-style: italic;">
        <div class="yj6qo"></div>
        <div class="adL"></div>
        <div class="adL"><br /></div>
      </div>
      <div class="adL"></div>
      <div class="adL"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>
