<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <style>
      .link {
        transform: translateX(-0.75em);
        transition: transform 200ms;
      }

      .link::before {
        content: "#";
        display: inline-block;
        width: 0.75em;

        color: #888888;
        opacity: 0;
        transition: opacity 200ms;
      }

      .link:hover {
        transform: none;
      }

      .link:hover::before {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div
      style="
        margin: auto;
        background-color: #ffffff;
        width: 500px;
        padding: 10px;
        /* border-top: 2px solid #e37c41; */
      "
    >
      <div class="adM"></div>
      <!-- Logo -->
      <img height="40px" alt="" src="<%= logo_url %>">
      <p>
        Xin chào đây là Mail tự động
      </p>
      <p>
        Tài khoản doanh nghiệp: <%= phone_number %> or <%= email %>
      </p>
      <p>
        Mật khẩu: <%= password %>
      </p>
      <a href="<%= webLoginEnterprise %>/auth/login/" target="_blank">Nhấn vào đây để đăng nhập</a>
      <hr style="border-top: 1px solid;" />
      <div style="font-style: italic;">
        <span
          >Lưu ý: đây là email tự động vui lòng không phản hồi lại email này,
          mọi thắc mắc xin liên hệ chăm sóc khách hàng của hệ thống</span
        >
        <div class="yj6qo"></div>
        <div class="adL"></div>
        <div class="adL"><br /></div>
      </div>
      <div class="adL"></div>
      <div class="adL"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>
